.contactTextContainer,
.formContainer {
  width: 75vw;
}

/* Medium screens (md) */
@media (min-width: 768px) {
  .contactTextContainer {
    width: 40%;
  }
  .formContainer {
    width: 40%;
  }
}

/* Large screens (lg) */
@media (min-width: 1024px) {
  .contactTextContainer {
    width: 45%;
  }
  .formContainer {
    width: 40%;
  }
}
