@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fg: #000;
  --bg: #fff;
  --view-height: 100vh;
  --view-width: 100vw;
  /* --fg: #fff;
    --bg: #000; */
  --fuschia: #ff0081;
  --button-bg: var(--fuschia);
  --button-text-color: #fff;
  --baby-blue: #f8faff;
}

[data-theme="dark"] {
  --fg: #fff;
  --bg: #000;
}

[data-theme="winter-theme"] {
  --fg: #575a5f;
  --bg: #f1f3f9;
  --landing-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Bg_blank_resized.jpg");
  --main-tree-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Big_tree.png");
  --sub-tree-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Small_tree.png");
  --cloud-1-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Cloud1.png");
  --cloud-2-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Cloud2.png");
  --cloud-3-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Cloud3.png");
  --pinwheel-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Pinwheel.png");
  --button-bg: #5b5383;
}

[data-theme="spring-theme"] {
  --fg: #8e7269;
  --bg: #f3d7cd;
  --landing-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/02_Bg_blank_resized.jpg");
  --main-tree-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/02_Big_tree.png");
  --sub-tree-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/02_Small_tree.png");
  --cloud-1-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/02_Cloud1.png");
  --cloud-2-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/02_Cloud2.png");
  --cloud-3-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/02_Cloud3.png");
  --pinwheel-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/02_Pinwheel.png");
  --button-bg: #cc8682;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  background: var(--bg);
  color: var(--fg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing-box {
  width: 100vw;
  height: 100vh;
  background: var(--landing-bg);
  background-position: bottom left;
  background-size: cover;
}

.landscape {
  background-position: bottom left !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  position: absolute;
  bottom: 8vh;
}

.left-tree,
.right-tree,
.mid-tree {
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  animation-name: growFromBottom;
}

.mid-tree {
  background: var(--sub-tree-bg);
  right: 0;
}

.left-tree {
  background: var(--main-tree-bg);
  left: 0;
  animation-delay: 0.5s;
}

.right-tree {
  display: block;
  background: var(--main-tree-bg);
  right: 0;
  animation-delay: 1s;
}

@media (max-width: 800px) {
  .right-tree,
  .right-pinwheel {
    display: none;
  }
}

.left-cloud,
.right-cloud {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.left-cloud {
  width: 180px;
  height: 100px;
  background: var(--cloud-1-bg);
  left: 30%;
  top: 10vh;
  animation-duration: 40s;
  animation-name: floatLeftToRight;
}

.right-cloud {
  width: 150px;
  height: 80px;
  background: var(--cloud-2-bg);
  right: 30%;
  top: 30vh;
  animation-duration: 30s;
  animation-name: floatRightToLeft;
}

.ground-cloud {
  max-width: 250px;
  max-height: 150px;
  background: var(--cloud-3-bg);
  right: 0;
  bottom: 3vh;
  width: 20vw;
  height: 20vw;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  animation-name: slideInFromRight;
  animation-delay: 2s;
}

@media (orientation: landscape) {
  .left-tree {
    width: calc(70vh / 1.14);
    height: 70vh;
  }
  .right-tree {
    width: calc(40vh / 1.14);
    height: 40vh;
  }
  .mid-tree {
    width: calc(35vw / 1.14);
    height: 35vh;
  }
}

@media (orientation: portrait) {
  .left-tree {
    width: 70vw;
    height: calc(70vw * 1.14);
  }
  .right-tree {
    width: 22vw;
    height: calc(22vw * 1.14);
  }
  .mid-tree {
    width: 35vw;
    height: calc(35vw * 1.14);
  }
  /* .left-pinwheel {
        transform: translate(70%, 50%);
    } */
}

/* @media (min-aspect-ratio: 0.9/1) and (max-aspect-ratio: 1.1/1) { */
/* Custom styles for devices with almost equal width and height */
/* .left-pinwheel {
        transform: translate(70%, 50%);
    }
  }  */

.left-pinwheel {
  width: 60%;
  aspect-ratio: 1;
  background: var(--pinwheel-bg);
  top: 0;
  transform: translate(48%, 20%);
}

.right-pinwheel {
  display: block;
  width: 60%;
  height: 60%;
  background: var(--pinwheel-bg);
  top: 0;
  transform: translate(48%, 20%);
}

select {
  font-size: 24px;
}

a {
  color: var(--fg);
  text-decoration: none;
  /* border-bottom: 1px solid var(--fg); */
}

/* Animation */
.slow-rotate {
  animation: rotateAnimation 20s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  /* transform-origin: center; */
}

.fast-rotate {
  animation: rotateAnimation 10s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  /* transform-origin: center; */
}

.slow-rotate:hover,
.fast-rotate:hover,
.landscape.left-cloud:hover,
.landscape.right-cloud:hover {
  animation-play-state: paused;
  cursor: pointer;
}

@keyframes rotateAnimation {
  from {
    transform: translate(48%, 20%) rotate(0deg);
  }
  to {
    transform: translate(48%, 20%) rotate(360deg);
  }
}

/* onlcick make smaller */
.bubbly-button {
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;
  /* padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px; */
  -webkit-appearance: none;
  appearance: none;
  /* background-color: var(--button-bg); */
  /* color: var(--button-text-color); */
  /* border-radius: 4px;
  border: none; */
  cursor: pointer;
  /* position: relative; */
  transition:
    transform ease-in 0.1s,
    box-shadow ease-in 0.25s;
  /* box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5); */
}
.bubbly-button:focus {
  outline: 0;
}

.bubbly-button:before,
.bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: 1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(
      circle,
      var(--button-bg) 20%,
      transparent 20%
    ),
    radial-gradient(
      circle,
      transparent 20%,
      var(--button-bg) 20%,
      transparent 30%
    ),
    radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
    radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
    radial-gradient(
      circle,
      transparent 10%,
      var(--button-bg) 15%,
      transparent 20%
    ),
    radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
    radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
    radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
    radial-gradient(circle, var(--button-bg) 20%, transparent 20%);
  background-size:
    10% 10%,
    20% 20%,
    15% 15%,
    20% 20%,
    18% 18%,
    10% 10%,
    15% 15%,
    10% 10%,
    18% 18%;
  background-position:
    0% 80%,
    -5% 20%,
    10% 40%,
    20% 0%,
    30% 30%,
    22% 50%,
    50% 50%,
    65% 20%,
    85% 30%;
}

.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(
      circle,
      var(--button-bg) 20%,
      transparent 20%
    ),
    radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
    radial-gradient(
      circle,
      transparent 10%,
      var(--button-bg) 15%,
      transparent 20%
    ),
    radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
    radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
    radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
    radial-gradient(circle, var(--button-bg) 20%, transparent 20%);
  background-size:
    15% 15%,
    20% 20%,
    18% 18%,
    20% 20%,
    15% 15%,
    10% 10%,
    20% 20%;
  background-position:
    5% 90%,
    10% 90%,
    10% 90%,
    15% 90%,
    25% 90%,
    25% 90%,
    40% 90%,
    55% 90%,
    70% 90%;
}

.bubbly-button:active {
  transform: scale(0.98);
}

.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 1.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 1.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position:
      5% 90%,
      10% 90%,
      10% 90%,
      15% 90%,
      25% 90%,
      25% 90%,
      40% 90%,
      55% 90%,
      70% 90%;
  }
  50% {
    background-position:
      0% 80%,
      0% 20%,
      10% 40%,
      20% 0%,
      30% 30%,
      22% 50%,
      50% 50%,
      65% 20%,
      90% 30%;
  }
  100% {
    background-position:
      0% 70%,
      0% 10%,
      10% 30%,
      20% -10%,
      30% 20%,
      22% 40%,
      50% 40%,
      65% 10%,
      90% 20%;
    background-size:
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position:
      10% -10%,
      30% 10%,
      55% -10%,
      70% -10%,
      85% -10%,
      70% -10%,
      70% 0%;
  }
  50% {
    background-position:
      0% 80%,
      20% 80%,
      45% 60%,
      60% 100%,
      75% 70%,
      95% 60%,
      105% 0%;
  }
  100% {
    background-position:
      0% 90%,
      20% 90%,
      45% 70%,
      60% 110%,
      75% 80%,
      95% 70%,
      110% 10%;
    background-size:
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%;
  }
}

@keyframes floatLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes floatRightToLeft {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes growFromBottom {
  0% {
    transform: translateY(100%) scale(0);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
