@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #5b5383;
  --pink: #cc8682;
  --green: #278b9e;
  --blue: #083d7b;
  --fg: #54585b;
  --bg: #f1f3f9;
  --bg2: #dbe0ea;
  --button-bg: var(--purple);
  --highlight: #221a4d;
  --button-fg: #f1f3f9;
  --landing-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Bg.jpg");
  --main-tree-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Big_tree.png");
  --sub-tree-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Small_tree.png");
  --cloud-1-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Cloud1.png");
  --cloud-2-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Cloud2.png");
  --cloud-3-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Cloud3.png");
  --pinwheel-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Pinwheel.png");
}

[data-theme="dark"] {
  --fg: #fff;
  --bg: #000;
}

[data-theme="winter-theme"] {
  --fg: #54585b;
  --bg: #f1f3f9;
  --bg2: #ebeffc;
  --button-bg: var(--purple);
  --highlight: #221a4d;
  --button-fg: #f1f3f9;
  --landing-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Bg.jpg");
  --main-tree-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Big_tree.png");
  --sub-tree-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Small_tree.png");
  --cloud-1-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Cloud1.png");
  --cloud-2-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Cloud2.png");
  --cloud-3-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Cloud3.png");
  --pinwheel-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Pinwheel.png");
}

[data-theme="spring-theme"] {
  --fg: #8e7269;
  --bg: #f3d7cd;
  --bg2: #f1cbbd;
  --button-bg: var(--pink);
  --highlight: #ca3f37;
  --button-fg: #f1f3f9;
  --landing-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/02_Bg.jpg");
  --main-tree-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/02_Big_tree.png");
  --sub-tree-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/02_Small_tree.png");
  --cloud-1-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/02_Cloud1.png");
  --cloud-2-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/02_Cloud2.png");
  --cloud-3-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/02_Cloud3.png");
  --pinwheel-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/02_Pinwheel.png");
}

[data-theme="summer-theme"] {
  --fg: #06364f;
  --bg: #fee7db;
  --bg2: #fdd8bd;
  --button-bg: var(--green);
  --highlight: #fda363;
  --button-fg: #fff3e7;
  --landing-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/03_Bg.jpg");
  --main-tree-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/03_Big_tree.png");
  --sub-tree-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/03_Small_tree.png");
  --cloud-1-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/03_Cloud1.png");
  --cloud-2-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/03_Cloud2.png");
  --cloud-3-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/03_Cloud3.png");
  --pinwheel-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/03_Pinwheel.png");
}

[data-theme="autumn-theme"] {
  --fg: #162443;
  --bg: #f8c59f;
  --bg2: #db9465;
  --button-bg: var(--blue);
  --highlight: #bd6023;
  --button-fg: #eae2ec;
  --landing-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/04_Bg.jpg");
  --main-tree-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/04_Big_tree.png");
  --sub-tree-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/04_Small_tree.png");
  --cloud-1-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/04_Cloud1.png");
  --cloud-2-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/04_Cloud2.png");
  --cloud-3-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/04_Cloud3.png");
  --pinwheel-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/04_Pinwheel.png");
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  background: var(--bg);
  color: var(--fg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main {
  width: 90vw;
  /* background: var(--bg2); */
  /* border: 2px solid var(--fg); */
  border-radius: 10px;
  /* position: absolute; */
  /* top: 150px; */
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  /* box-shadow:
    -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12); */
  box-shadow:
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

main section {
  border-radius: 10px;
  box-shadow:
    -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
}

input,
textarea {
  opacity: 0.8;
}

button {
  width: 120px;
  color: var(--button-fg);
  background: var(--button-bg) !important;
}

.btnStyle2 {
  background: var(--button-fg) !important;
  color: var(--button-bg) !important;
}

.highlight {
  background: linear-gradient(to left, var(--highlight), var(--button-bg));
  color: var(--button-fg);
  font-weight: 500;
}

a {
  color: var(--fg);
  text-decoration: none;
}

.topNav {
  z-index: 9999;
}

.icon {
  width: 20px;
  height: auto;
}

.icon path:first-child {
  fill: var(--fg);
}

.actionBox {
  z-index: 999999;
}

.actionBox .icon {
  width: 40px;
  height: auto;
  margin: auto;
  margin-bottom: 1rem;
}

ul.mediaList.visible,
ul.mediaList.invisible,
.resumeContainer.visible,
.resumeContainer.invisible,
.profileImageContainer img.visible,
.profileImageContainer img.invisible {
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1s;
  animation-fill-mode: both;
}

.profileImageContainer img.visible,
.profileImageContainer img.invisible {
  visibility: unset;
}

.profileImageContainer img.visible {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}
.profileImageContainer img.invisible {
  animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
}

ul.mediaList.visible,
.resumeContainer.visible {
  animation-name: bounceInDown;
  -webkit-animation-name: bounceInDown;
}

ul.mediaList.invisible,
.resumeContainer.invisible {
  animation-name: bounceOutUp;
  -webkit-animation-name: bounceOutUp;
}

ul.mediaList li a {
  width: 35px;
  height: 35px;
  background-color: var(--bg);
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid var(--fg);
  z-index: 1;
}

.resumeContainer {
  height: 35px;
  text-align: center;
}

ul.mediaList li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 2;
}

ul.mediaList li a:hover:before {
  top: 0;
}

ul.mediaList li:nth-child(1) a:before {
  background: #6a329f;
}

ul.mediaList li:nth-child(2) a:before {
  background: #0077b5;
}

ul.mediaList li:nth-child(3) a:before {
  background: #01e49c;
}

ul.mediaList li a .icon {
  position: relative;
  transition: 0.5s;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.resumeContainer .icon {
  transition: 0.5s;
  height: 30px;
  width: auto;
  margin-left: 5px;
}

.resumeContainer:hover .icon {
  transform: scale(1.2);
}

.resumeContainer:hover {
  font-size: 18px;
}

ul.mediaList li a .icon path,
.resumeContainer .icon path {
  fill: var(--fg);
}

ul.mediaList li a:hover .icon {
  transform: rotateY(360deg);
}

ul.mediaList li a:hover .icon path {
  fill: var(--bg);
}

.backToTopBtn {
  position: fixed;
  top: 85%;
  left: 0;
  width: fit-content;
  opacity: 0.3;
  border-radius: 0 10px 10px 0;
}

.backToTopBtn .icon {
  width: 2.5rem;
  /* opacity: 0.05; */
}

.backToTopBtn .icon path:first-child {
  fill: none;
}

.topNav .showMoreBtn {
  width: 30px;
  position: unset;
  margin: 0.5rem 1.25rem;
}

.themeSelection button:nth-child(1) div {
  color: var(--bg2);
}
.themeSelection button:nth-child(1) div {
  background: var(--purple);
}

.themeSelection button:nth-child(2) div {
  background: var(--pink);
}

.themeSelection button:nth-child(3) div {
  background: var(--green);
}

.themeSelection button:nth-child(4) div {
  background: var(--blue);
}

.themeSelection button {
  color: var(--button-fg) !important;
  width: max-content;
  height: 30px;
}
.themeSelection button p {
  display: none;
  /* animation-name: bounceOutLeft;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 0.5s; */
}

@media (min-width: 768px) {
  .themeSelection button:hover p {
    animation-name: bounceInLeft;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: 0.5s;
    display: flex;
  }
  .topNav .showMoreBtn {
    display: none;
  }

  .themeSelection {
    display: flex;
  }
}

.menu a:hover p {
  border-bottom: var(--fg) solid 2px;
}

.contactTextContainer .icon {
  margin-right: 10px;
  margin-left: 10px;
}

.showMoreBtn {
  /* background: none !important; */
  background: var(--button-bg);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: 20px;
  opacity: 0.8;
}

.arrowIcon {
  border: solid var(--bg);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrowUp {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform-origin: center center;
  transition: all ease-in-out 0.5s;
}

.arrowDown {
  transform: rotate(45deg) translate(-40%, -40%);
  -webkit-transform: rotate(45deg) translate(-40%, -40%);
  transform-origin: center center;
  transition: all ease-in-out 0.5s;
}

.footer {
  border-top: 1px solid var(--fg) !important;
  padding-top: 10px;
  margin-top: 80px;
}

@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0) scaleY(3);
    transform: translate3d(0, -50px, 0) scaleY(3);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0) scaleY(0.9);
    transform: translate3d(0, 25px, 0) scaleY(0.9);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0) scaleY(0.95);
    transform: translate3d(0, -10px, 0) scaleY(0.95);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0) scaleY(0.985);
    transform: translate3d(0, 5px, 0) scaleY(0.985);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0) scaleY(3);
    transform: translate3d(0, -50px, 0) scaleY(3);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0) scaleY(0.9);
    transform: translate3d(0, 25px, 0) scaleY(0.9);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0) scaleY(0.95);
    transform: translate3d(0, -10px, 0) scaleY(0.95);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0) scaleY(0.985);
    transform: translate3d(0, 5px, 0) scaleY(0.985);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0) scaleY(0.985);
    transform: translate3d(0, -10px, 0) scaleY(0.985);
  }

  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0) scaleY(0.9);
    transform: translate3d(0, 20px, 0) scaleY(0.9);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0) scaleY(3);
    transform: translate3d(0, -50px, 0) scaleY(3);
  }
}
@keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0) scaleY(0.985);
    transform: translate3d(0, -10px, 0) scaleY(0.985);
  }

  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0) scaleY(0.9);
    transform: translate3d(0, 20px, 0) scaleY(0.9);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0) scaleY(3);
    transform: translate3d(0, -50px, 0) scaleY(3);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-100px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0) scaleX(1);
  }

  75% {
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }

  90% {
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0) scaleX(0.9);
    transform: translate3d(20px, 0, 0) scaleX(0.9);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0) scaleX(2);
    transform: translate3d(-2000px, 0, 0) scaleX(2);
  }
}

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0) scaleX(0.9);
    transform: translate3d(20px, 0, 0) scaleX(0.9);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0) scaleX(2);
    transform: translate3d(-2000px, 0, 0) scaleX(2);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
