@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fg: #000;
  --bg: #fff;
  --view-height: 100vh;
  --view-width: 100vw;
  /* --fg: #fff;
    --bg: #000; */
  --fuschia: #ff0081;
  --button-bg: var(--fuschia);
  --button-text-color: #fff;
  --baby-blue: #f8faff;
}

[data-theme="dark"] {
  --fg: #fff;
  --bg: #000;
}

[data-theme="winter-theme"] {
  --fg: #575a5f;
  --bg: #f1f3f9;
  --landing-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Bg_blank_resized.jpg");
  --main-tree-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Big_tree.png");
  --sub-tree-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Small_tree.png");
  --cloud-1-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Cloud1.png");
  --cloud-2-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Cloud2.png");
  --cloud-3-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Cloud3.png");
  --pinwheel-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/01_Pinwheel.png");
  --button-bg: #5b5383;
}

[data-theme="spring-theme"] {
  --fg: #8e7269;
  --bg: #f3d7cd;
  --landing-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/02_Bg_blank_resized.jpg");
  --main-tree-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/02_Big_tree.png");
  --sub-tree-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/02_Small_tree.png");
  --cloud-1-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/02_Cloud1.png");
  --cloud-2-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/02_Cloud2.png");
  --cloud-3-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/02_Cloud3.png");
  --pinwheel-bg: url("https://pinwheels-portfolio-eirian.s3.ca-central-1.amazonaws.com/assets/02_Pinwheel.png");
  --button-bg: #cc8682;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  background: var(--bg);
  color: var(--fg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

a {
  color: var(--fg);
  text-decoration: none;
}

ul.mediaList.visible,
ul.mediaList.invisible,
.resumeContainer.visible,
.resumeContainer.invisible {
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1s;
  animation-fill-mode: both;
}

ul.mediaList.visible,
.resumeContainer.visible {
  animation-name: bounceInDown;
  -webkit-animation-name: bounceInDown;
}

ul.mediaList.invisible,
.resumeContainer.invisible {
  animation-name: bounceOutUp;
  -webkit-animation-name: bounceOutUp;
}

ul.mediaList li a {
  width: 35px;
  height: 35px;
  background-color: var(--bg);
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid var(--fg);
  z-index: 1;
}

.resumeContainer {
  height: 35px;
  text-align: center;
}

ul.mediaList li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 2;
}

ul.mediaList li a:hover:before {
  top: 0;
}

ul.mediaList li:nth-child(1) a:before {
  background: #6a329f;
}

ul.mediaList li:nth-child(2) a:before {
  background: #0077b5;
}

ul.mediaList li:nth-child(3) a:before {
  background: #01e49c;
}

ul.mediaList li a .icon {
  position: relative;
  transition: 0.5s;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.resumeContainer .icon {
  transition: 0.5s;
  height: 30px;
  width: auto;
  margin-left: 5px;
}

.resumeContainer:hover .icon {
  transform: scale(1.2);
}

.resumeContainer:hover {
  font-size: 18px;
}

ul.mediaList li a .icon path,
.resumeContainer .icon path {
  fill: var(--fg);
}

ul.mediaList li a:hover .icon {
  transform: rotateY(360deg);
}

ul.mediaList li a:hover .icon path {
  fill: var(--bg);
}

.themeSelection button:nth-child(1) div {
  background: #5b5383;
}

.themeSelection button:nth-child(2) div {
  background: #cc8682;
}

.themeSelection button:nth-child(3) div {
  background: #01e49c;
}

.themeSelection button {
  height: 30px;
}
.themeSelection button p {
  display: none;
  /* animation-name: bounceOutLeft;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 0.5s; */
}
.themeSelection button:hover p {
  animation-name: bounceInLeft;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 0.5s;
  display: flex;
}

.menu a:hover p {
  border-bottom: var(--fg) solid 2px;
}

@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0) scaleY(3);
    transform: translate3d(0, -50px, 0) scaleY(3);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0) scaleY(0.9);
    transform: translate3d(0, 25px, 0) scaleY(0.9);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0) scaleY(0.95);
    transform: translate3d(0, -10px, 0) scaleY(0.95);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0) scaleY(0.985);
    transform: translate3d(0, 5px, 0) scaleY(0.985);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0) scaleY(3);
    transform: translate3d(0, -50px, 0) scaleY(3);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0) scaleY(0.9);
    transform: translate3d(0, 25px, 0) scaleY(0.9);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0) scaleY(0.95);
    transform: translate3d(0, -10px, 0) scaleY(0.95);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0) scaleY(0.985);
    transform: translate3d(0, 5px, 0) scaleY(0.985);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0) scaleY(0.985);
    transform: translate3d(0, -10px, 0) scaleY(0.985);
  }

  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0) scaleY(0.9);
    transform: translate3d(0, 20px, 0) scaleY(0.9);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0) scaleY(3);
    transform: translate3d(0, -50px, 0) scaleY(3);
  }
}
@keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0) scaleY(0.985);
    transform: translate3d(0, -10px, 0) scaleY(0.985);
  }

  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0) scaleY(0.9);
    transform: translate3d(0, 20px, 0) scaleY(0.9);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0) scaleY(3);
    transform: translate3d(0, -50px, 0) scaleY(3);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-100px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0) scaleX(1);
  }

  75% {
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }

  90% {
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0) scaleX(0.9);
    transform: translate3d(20px, 0, 0) scaleX(0.9);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0) scaleX(2);
    transform: translate3d(-2000px, 0, 0) scaleX(2);
  }
}

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0) scaleX(0.9);
    transform: translate3d(20px, 0, 0) scaleX(0.9);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0) scaleX(2);
    transform: translate3d(-2000px, 0, 0) scaleX(2);
  }
}
