.landingBox {
  width: 100vw;
  height: 100vh;
  background: var(--landing-bg);
  background-position: bottom left;
  background-size: cover;
}

.landscape {
  background-position: bottom left !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  position: absolute;
  bottom: 8vh;
}

.leftTree,
.rightTree,
.midTree {
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  animation-name: growFromBottom;
}

.midTree {
  background: var(--sub-tree-bg);
  right: 0;
}

.leftTree {
  background: var(--main-tree-bg);
  left: 0;
  animation-delay: 0.5s;
}

.rightTree {
  display: block;
  background: var(--main-tree-bg);
  right: 0;
  animation-delay: 1s;
}

.leftPinwheel {
  display: block;
  aspect-ratio: 1;
  height: 60%;
  background: var(--pinwheel-bg);
  top: 0;
  transform: translate(48%, 20%);
}

.rightPinwheel {
  display: block;
  aspect-ratio: 1;
  height: 60%;
  background: var(--pinwheel-bg);
  top: 0;
  transform: translate(48%, 20%);
}

@media (max-width: 800px) {
  .rightTree,
  .rightPinwheel {
    display: none;
  }
}

@media (orientation: landscape) {
  .leftTree {
    width: calc(70vh / 1.14);
    height: 70vh;
  }
  .rightTree {
    width: calc(40vh / 1.14);
    height: 40vh;
  }
  .midTree {
    width: calc(35vw / 1.14);
    height: 35vh;
  }
}

@media (orientation: portrait) {
  .leftTree {
    width: 70vw;
    height: calc(70vw * 1.14);
  }
  .rightTree {
    width: 22vw;
    height: calc(22vw * 1.14);
  }
  .midTree {
    width: 35vw;
    height: calc(35vw * 1.14);
  }
}

/* @media (min-aspect-ratio: 0.9/1) and (max-aspect-ratio: 1.1/1) { */
/* Custom styles for devices with almost equal width and height */
/* .left-pinwheel {
        transform: translate(70%, 50%);
    }
  }  */

.leftCloud,
.rightCloud {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.leftCloud {
  width: 180px;
  height: 100px;
  background: var(--cloud-1-bg);
  left: 30%;
  top: 14vh;
  animation-duration: 40s;
  animation-name: floatLeftToRight;
}

.rightCloud {
  width: 150px;
  height: 80px;
  background: var(--cloud-2-bg);
  right: 30%;
  top: 30vh;
  animation-duration: 30s;
  animation-name: floatRightToLeft;
}

.groundCloud {
  max-width: 250px;
  max-height: 150px;
  background: var(--cloud-3-bg);
  right: 0;
  bottom: 3vh;
  width: 20vw;
  height: 20vw;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  animation-name: slideInFromRight;
  animation-delay: 2s;
}

/* Animation */
.slowRotate {
  animation: rotateAnimation 20s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  /* transform-origin: center; */
}

.fastRotate {
  animation: rotateAnimation 10s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  /* transform-origin: center; */
}

.slowRotate:hover,
.fastRotate:hover,
.leftCloud:hover,
.rightCloud:hover {
  z-index: 9999;
  animation-play-state: paused;
  cursor: pointer;
}

.leftCloud:hover * {
  z-index: 9999;
}

@keyframes rotateAnimation {
  from {
    transform: translate(48%, 20%) rotate(0deg);
  }
  to {
    transform: translate(48%, 20%) rotate(360deg);
  }
}

.bubblyButton {
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  transition: transform ease-in 0.1s;
}

.bubblyButton:focus {
  outline: 0;
}

.bubblyButton:before,
.bubblyButton:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: 1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.bubblyButton:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(
      circle,
      var(--button-bg) 20%,
      transparent 20%
    ),
    radial-gradient(
      circle,
      transparent 20%,
      var(--button-bg) 20%,
      transparent 30%
    ),
    radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
    radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
    radial-gradient(
      circle,
      transparent 10%,
      var(--button-bg) 15%,
      transparent 20%
    ),
    radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
    radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
    radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
    radial-gradient(circle, var(--button-bg) 20%, transparent 20%);
  background-size:
    10% 10%,
    20% 20%,
    15% 15%,
    20% 20%,
    18% 18%,
    10% 10%,
    15% 15%,
    10% 10%,
    18% 18%;
  background-position:
    0% 80%,
    -5% 20%,
    10% 40%,
    20% 0%,
    30% 30%,
    22% 50%,
    50% 50%,
    65% 20%,
    85% 30%;
}

.bubblyButton:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(
      circle,
      var(--button-bg) 20%,
      transparent 20%
    ),
    radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
    radial-gradient(
      circle,
      transparent 10%,
      var(--button-bg) 15%,
      transparent 20%
    ),
    radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
    radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
    radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
    radial-gradient(circle, var(--button-bg) 20%, transparent 20%);
  background-size:
    15% 15%,
    20% 20%,
    18% 18%,
    20% 20%,
    15% 15%,
    10% 10%,
    20% 20%;
  background-position:
    5% 90%,
    10% 90%,
    10% 90%,
    15% 90%,
    25% 90%,
    25% 90%,
    40% 90%,
    55% 90%,
    70% 90%;
}

.bubblyButton:active {
  transform: scale(0.98);
}

.bubblyButton.animate:before {
  display: block;
  animation: topBubbles ease-in-out 1.75s forwards;
}
.bubblyButton.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 1.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position:
      5% 90%,
      10% 90%,
      10% 90%,
      15% 90%,
      25% 90%,
      25% 90%,
      40% 90%,
      55% 90%,
      70% 90%;
  }
  50% {
    background-position:
      0% 80%,
      0% 20%,
      10% 40%,
      20% 0%,
      30% 30%,
      22% 50%,
      50% 50%,
      65% 20%,
      90% 30%;
  }
  100% {
    background-position:
      0% 70%,
      0% 10%,
      10% 30%,
      20% -10%,
      30% 20%,
      22% 40%,
      50% 40%,
      65% 10%,
      90% 20%;
    background-size:
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position:
      10% -10%,
      30% 10%,
      55% -10%,
      70% -10%,
      85% -10%,
      70% -10%,
      70% 0%;
  }
  50% {
    background-position:
      0% 80%,
      20% 80%,
      45% 60%,
      60% 100%,
      75% 70%,
      95% 60%,
      105% 0%;
  }
  100% {
    background-position:
      0% 90%,
      20% 90%,
      45% 70%,
      60% 110%,
      75% 80%,
      95% 70%,
      110% 10%;
    background-size:
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%;
  }
}

@keyframes floatLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes floatRightToLeft {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes growFromBottom {
  0% {
    transform: translateY(100%) scale(0);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
