.projectsContainer {
}

.projectCard {
  max-height: min(600px, 100vh);
  border-radius: 10px;
  box-shadow:
    -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
}
.projectCard > div {
  margin-top: 0.5rem;
}

.projectCard:hover {
  background: var(--bg2);
  box-shadow:
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

.projectCard:hover .projDesc {
  scrollbar-color: var(--button-bg) var(--bg2);
}

.projectCard p {
  margin: 5px 0px;
}
.projectCard img {
  margin: 10px 0px;
  max-height: 180px;
  object-fit: contain;
}
.projDesc {
  scrollbar-width: thin;
  scrollbar-color: var(--button-bg) var(--bg);
}

.tagGroup {
  border: 1px black dashed;
  border-radius: 10px;
}

.tag {
  background: var(--button-bg);
  color: var(--button-fg);
  /* font-size: 0.6rem; */
}

.tagGroup .tag:hover {
  color: var(--button-bg);
  background: var(--button-fg);
  box-shadow:
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
  /* transform: scale(1.2); */
  cursor: pointer;
}

.chosenTag {
  border: 1px solid var(--button-bg);
  color: var(--button-bg);
  background: var(--button-fg);
  box-shadow:
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}
